{% extends 'monApp/base.html' %}

{% block menu %}
<h1>{{titremenu}}</h1>
{% endblock %}

{% block contenu %}
<h2>{{ prdt.intituleProd }}</h2>

<ul>
    <li>Référence produit : {{prdt.refProd }} </li>
    <li>Prix unitaire HT : {{ prdt.prixUnitaireProd }} </li>
    <li>Date de fabrication : {{ prdt.dateFabProd }} </li>
    <li>Catégorie : {{ prdt.categorie }} </li>
    <li>Statut : {{ prdt.status }}</li>
</ul>
    <a href="{% url 'chng_prdt' prdt.refProd %}" class="btn btn-warning mt-2">Modifier</a>
    <a href="{% url 'dlt_prdt' prdt.refProd %}" class="btn btn-danger mt-2">Supprimer</a>
    <a href="{% url 'lst_prdts'%}" class="btn btn-info mt-2">Retour</a>
{% endblock %}