{% extends 'monApp/base.html' %}
{% block menu %}
    <h1> {{ titremenu }} </h1>
    {% endblock %}
    {% block contenu %}
    <table class="table">
    <thead>
        <th>Id</th>
        <th>Nom statut</th>
    </thead>
    <tbody>
        {% for statut in status %}
        <tr>
            <td><a href="{% url 'dtl_status' statut.idStatus %}">{{ statut.idStatus }}</a></td>
            <td><a href="{% url 'dtl_status' statut.idStatus %}">{{ statut.lbStatus }}</a></td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
    <a href="{% url 'crt_status' %}">Créer un nouveau status</a>
{% endblock %}