{% extends 'monApp/base.html' %}
{% block menu %}
    <h1> {{ titremenu }} </h1>
    {% endblock %}
    {% block contenu %}
    <table class="table">
    <thead>
        <th>Id</th>
        <th>Nom produit</th>
        <th>Prix unitaire</th>
        <th>Date fabrication</th>
        <th>Catégorie</th>
        <th>Statut</th>
    </thead>
    <tbody>
        {% for prdt in prdts %}
        <tr>
            <td><a href="{% url 'dtl_prdt' prdt.refProd %}">{{ prdt.refProd }}</a></td>
            <td><a href="{% url 'dtl_prdt' prdt.refProd %}">{{ prdt.intituleProd }}</a></td>
            <td>{{ prdt.prixUnitaireProd }} </td>
            <td>{{ prdt.dateFabProd }} </td>
            <td>{{ prdt.categorie }} </td>
            <td>{{ prdt.status }} </td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
    <a href="{% url 'crt_prdt' %}">Créer un nouveau produit</a>
{% endblock %}